@import './variables.module';

@mixin button-reset(
   $background, 
   $foreground: $umb-body-text,
   $border-color: transparent, 
) {
   border: 1px solid $border-color;
   background: $background;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: capitalize;
   border-radius: 4px;
   padding: 4px 8px;

   &, .icon, .label {
      transition: all 150ms;
   }
   
   &.fullscreen { width: 100%; }

   .icon {
      color: $foreground;
   }

   .label {
      font-size: 12px !important;
      color: $foreground;
      text-align: left;
      margin-left: 4px;
   }

   &.md {
      @extend .size-md;
   }

   &.lg {
      @extend .size-lg;
   }
}

.size-md {
   padding: 8px 12px;
   .icon { font-size: 16px; }
   .label { font-size: 13px; }
}

.size-lg {
   padding: 16px 24px;
   .icon { font-size:20px }
   .label { font-size: 14px; }
}


.button-filled {
   @include button-reset($umb-yellow);
   
   &:hover {
      background: darken($umb-yellow, 10%);
   }
}


.button-text {
   @include button-reset(
      transparent, 
      darken($umb-yellow, 10%)
   );

   &:hover {
      background: $umb-yellow-alpha-25;
      border: 1px solid $umb-yellow-alpha-10;
   }
}

.button-outlined {
   @include button-reset(
      transparent, 
      darken($umb-yellow, 10%), 
      $umb-yellow
   );

   &:hover {
      background: $umb-yellow;

      .label, .icon {
         color: $umb-body-text;
      }
   }
}