@import '../../styles/variables.module';

.search-and-sort, .container {
   width: 100%;
   max-width: 700px;
   margin: 0 auto;
}

.search-and-sort {
   flex: 0 0 auto;
   border-bottom: 1px solid $umb-gray-2;
   padding-bottom: 12px;
}

.list {
   flex: 1 1 auto;
   padding-top: 32px;

   -ms-overflow-style: none;
   overflow-y: auto;
   &::-webkit-scrollbar {
      display: none;
   }
}