@import '../../styles/variables.module';

.summary-and-sort {
   margin-top: 32px;
   font-size: 12px;

   .sort-box {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .label {
         margin-right: 12px;
      }
   }

   select {
      padding: 6px 0px;
      border-radius: 4px;
      outline-color: $umb-yellow-alpha-50;
      font-size: 12px;

      &, option {
         text-transform: capitalize;
      }
   }
}

@media (min-width: 992px) {
   .summary-and-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .sort-box {
      order: 1;
      margin-bottom: 0 !important;
   }
}


